*{
  margin: 0px;
  padding: 0px;
}
/* shahead style */


/* nav Style */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li a{
  text-decoration: none;
}
nav ul li{
  list-style: none;
}
.btn-modify{
  padding:17px 24px;
  border-radius: 8px;
  margin-top: 38px;
  margin-right: 150px;
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 600;
}
nav h4{
  font-size: 28px;
  font-weight:800;
  margin-left: 150px;
  margin-top: 50px;
}
/* baner style */
.img-baner{
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 32px;
  
}
.btn-modify-2{ 
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  align-items: center;
  
 
}
.btn-modify-3{
  padding: 21px 24px 21px 24px;
 border-radius: 8px;
 background-color: #0D1321;
 margin-left: 598px;
 margin-top: 32px;


}
.baner{
  background-image: url(../assets/Hero-bg.png);
  
   max-width: 1440px;
   min-height: 652px;
   width: 100%;
   background-position: cover;
  
}
.baner-main-title{
  display: flex;
  justify-content: center;
  margin: 32px 221px 24px 221px;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.baner-paragraph{
  display:flex;
  justify-content: center;
  text-align: center;
  margin-left: 294px;
  margin-right: 294px;
  font-size:16px;
  font-weight: 400;
  padding: 24px 73px 0px 24px;
}
/* web-development style */

.web-development>h1{
  display: flex;
  justify-content: center;
  margin-top: 154px;
  margin-left: 292px;
  margin-right: 296px;
  font-size: 32px;
  font-weight: 800;
  padding: 80 px 144px 24px 144px;
}
.web-development>p{
  display: flex;
  justify-content: center;
text-align: center;
align-items: center;
font-weight: 400;
font-size: 16px;
margin-bottom: 48px;
margin-left: 292px;
margin-right: 296px;
padding: 24px 48px 47px 48px;
color: #0D1321 70%;
}

.wb-sub-title-1{
  display: flex;
  justify-content:space-between;
  margin-left: 148px;
  margin-right: 152px;
  padding: 48px;
  border-left: 103px;
  border-right: 103px;
}
.wb-t-1h{
font-size: 24px;
 margin-bottom: 16px;
text-align: justify;
color: rgba(13, 19, 33, 0.7);
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
}
.wb-t-1p{
font-size: 16px;
font-weight: 400;
text-align: justify;
margin-right: 107px;
color: rgb(13, 19, 33);
line-height: 26px;
letter-spacing: 0%;
  
}
.wb-t-b1{
margin-top: 32px;
Font-weight:600;
Font-size:20px;

Padding: 12px 20px 12px 20px;
}
.rr-2{
  display: flex;
  justify-content:space-between;
  margin-left:148px;
  margin-right: 152px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 48px;
  border-left: 97px;
  border-right: 97px;
}
.wb-t-2{
  font-size: 24px;
   margin-bottom: 16px;
  text-align: justify;
  color: rgba(13, 19, 33, 0.7);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  }
  .wb-t-2p{
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  margin-right: 107px;
  color: rgb(13, 19, 33);
  line-height: 26px;
  letter-spacing: 0%;
    
  }
  